/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.qa-item{
	width:100%;
	font-size:20px;
	font-family: inherit;
	border:1px solid black;
	margin-bottom:5px;
}

.title-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px;
	background-color: red;
	color:white;
}