/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.qa-item{
	width:100%;
	font-size:20px;
	font-family: inherit;
	margin-bottom:5px;
}

.title-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	background-color: rgb(201, 184, 184);
	font-size:16px;
}

.title-area{
	margin-top:0;
	margin-bottom:0;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	

}

.qa-title{
	margin:0;
	
}

.title-area img{
	width:30px;
	height:30xp;
	transform:roatate(0);
	transition:transform 0.5s ease-in;
	
}
.qa-content{
	visibility: hidden;
	height:0;
	opacity:0;
	padding:0;
	transition:height 0.3s ease-in, opacity 0.5s ease-in, padding 0.5s ease-in;
	
}

.icon-active{
	
}


